/.vscode
/.idea

/FlightlessBerd/FlightlessBerd/.idea
/FlightlessBerd/FlightlessBerd/.vscode
/FlightlessBerd/FlightlessBerd/bin
/FlightlessBerd/FligthlessBerd/obj

/FlightlessBerd/FlightlessBerd-REPL/.idea
/FlightlessBerd/FlightlessBerd-REPL/.vscode
/FlightlessBerd/FlightlessBerd-REPl/bin
/FlightlessBerd/FligthlessBerd-REPL/obj
