/.vscode
/.idea

/FlightlessBerd/FlightlessBerd/.idea
/FlightlessBerd/FlightlessBerd/.vscode
/FlightlessBerd/FlightlessBerd/bin
/FlightlessBerd/FlightlessBerd/obj

/FlightlessBerd/FlightlessBerd-REPL/.idea
/FlightlessBerd/FlightlessBerd-REPL/.vscode
/FlightlessBerd/FlightlessBerd-REPL/bin
/FlightlessBerd/FlightlessBerd-REPL/obj
